main>section:first-child{
    width: 100%;
    height: 579px;
    background: #24204A;
    display: flex;
    align-items: center;
}
/*------ first section first child-----*/
main>section:first-child>div:first-child{
    width: 570px;
    height: 366px;
    margin: 85px 208px 128px 115px;
}
main>section:first-child>div:first-child>div{
    width: 145px;
    height: 41px;
    border-radius: 8px;
    background: #4B4864;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    color: #8E88C1;
    font-size: 16px;
    font-weight: 500;
    line-height: 130%; /* 20.8px */
    letter-spacing: 0.8px;
}
main>section:first-child>div:first-child>p:nth-child(even){
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.8px;
    height: 88px;
}
main>section:first-child>div:first-child>p:nth-child(odd){
    color: #8E88C1;
    font-size: 16px;
    font-weight: 500;
    line-height: 130%; /* 20.8px */
    letter-spacing: 0.8px;
    height: 85px;
}
main>section:first-child>div:first-child>button{
    width: 200px;
    height: 56px;
    border-radius: 8px;
    background: #3F50E7;
    /* 1 */
    box-shadow: 0 6px 20px 0 rgba(0, 255, 224, 0.20);
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    border: none;
}
main>section:first-child>div:first-child>p,
main>section:first-child>div:first-child>button{
    margin-top: 32px;
}
/*------ first section last child-----*/
main>section:first-child>div:last-child{
    width: 375px;
    height: 411px;
    border-radius: 8px;
    background: #827EAC;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.25);
    margin-top: 67px;
    margin-bottom: 101px;
}
main>section:first-child>div:last-child>img{
    width: 318px;
    height: 318px;
    margin: 45px 28px;
}