*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 20vh;
    background-color: #D9D9D9;
}
main{
    height: 60vh;
    background-color: #b2a5a5;
}
main section{
    width: 70vw;
    height: 30vh;
}
.first_section{
    background-color: #7C6E6E;
}
.second_section{
    background: #958D8D;
}
aside{
    width: 30vw;
    height: 60vh;
    background-color: #817E7E;
}
footer{
    height: 20vh;
    background-color:#726E6E;
;
}

