.holder{
    width: 100%;
    height: 600px;
}
.cardsHolder{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card{
    width: 12%;
    height: 200px;
}
img{
    width: 100%;
    height: 100%;
}