body{
    display: flex;
    justify-content: center;

}
table{
    padding: 0;
}
tr{
    width: 100%;
    height: 50px;

}
td{
    width: 300px;
}
.first{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
tr:nth-child(odd){
    background-color: #84c084;
}