@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter",sans-serif;
}
main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 64px 48px;
}
video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    top: 0;
}
main>h1{
    color: #FFF;
    text-align: center;
    /* Large title/2 strong */
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 76.8px */
}
main>p{
    color: #FFF;
    text-align: center;
    width: 960px;
    /* Text/1 regular */
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    margin-top: 40px;
}
main>div:last-child{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 64px;
}
main>div>div:last-child{
    display: flex;
    align-items: center;
    justify-content: center;
}
main>div>div>p{
    color:  #FFF;
    text-align: center;
    /* Text/3 strong */
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
    margin-left: 16px;
}
main>div>button{
    padding: 0 60px;
    height: 64px;
    color: #000;
    text-align: center;
    /* Text/3 strong */
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
    border-radius: 32px;
    background: #FFF;
    border: none;
    margin-right: 56px;
}