body{
    margin: 0;
}
#holder{
    height: 800px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    background-color: #034403;
}
#cards_holder{
    width: 100%;
    height: 800px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card{
    width: 15%;
    height: 300px;
    background-color: #b2a5a5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;

}
.card:hover{
    transform: scale(1.1);
}
p{
    font-size: 15px;
}