.holder{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#sun{
animation: preLoad 3s ease-in-out infinite ;
}
#mercury{
    animation: preLoad 3s ease-in-out infinite ;
}
#venus{
    animation: preLoad 3s ease-in-out infinite ;
}
#earth{
    animation: preLoad 3s ease-in-out infinite ;
}
#mars{
    animation: preLoad 3s ease-in-out infinite ;
}
#jupiter{
    animation: preLoad 3s ease-in-out infinite ;
}
#saturn{
    animation: preLoad 3s ease-in-out infinite ;
}
#uranus{
    animation: preLoad 3s ease-in-out infinite ;
}
#neptune{
    animation: preLoad 3s ease-in-out infinite ;
}
 @keyframes preLoad {
     from {
         transform: translate(150px) scale(1.2);
         transition: 2s;
     }
     to{
     transform: translate(0);
         transition: 2s;
     }
 }


