@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
.main{
    height: 100vh;
    background-color: #53806e;
}
.form_holder{
    width: 700px;
    height: 500px;
    background-color: whitesmoke;
    border-radius:10px;
}
form{
    width:100%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.main, .top_text_holder, .login_and_password_holder{
    display: flex;
    align-items: center;
    justify-content: center;
}
.top_text_holder{
    width: 100%;
    height: 20%;
    font-size: 35px;
    background-color: #b2a5a5;
    border-radius: 10px;
}
.login_and_password_holder{
    width: 100%;
    height: 40%;
    flex-direction: column;
    gap: 40px;
}
.login_and_password_holder input{
    width: 70%;
    height: 25%;
}
#checkbox{
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid;
    margin-bottom:-3px;
    background-size: cover;
}
#checkbox:checked{
    background-image: url("homework/lesson8/icons/icons8-done-24.png");
}
.checkbox_and_submit_holder{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: flex-start;
    justify-content:space-evenly;
    gap: 30px;
}
#submit{
    width: 100px;
    height: 30px;
    border-radius: 20%;
}